
/*General Page*/

body{
    background-image: url("Boar_Flag.png");
    background-color:rgb(17, 18, 20);
    background-repeat: no-repeat;;
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
    background-position-y: 10%;
}

h1{
    margin-top: 10%;
    color: rgb(165, 194, 97);
    text-align: center;
    border-radius: 1px;
    border-style: solid;
}

p{
    color: rgb(160, 160, 160);
    font-size: 130%;
    margin-left: 3%;
    
}
/*Main Area */

.MainTab{
    background-color: rgb(49, 57, 68);
    width: 62.5%;
    height: 1000px;
    
    margin-left:  auto;
    margin-right: auto;

    border-radius: 10px;
    border-style: groove;
    border-color: rgb(70, 0, 0);
}


/*Pages Tab */

#PagesTab{
    margin-top: 5%;
    justify-content: center;
    display: flex;
}



.Pages{


    text-align: center;

    
    border: 0;
    padding: 1%;
    margin-left: 0.1%;
    margin-right: 0.1%;
    width: 7.5%;
    
    background-color: rgb(34, 45, 46);
    color: rgb(165, 194, 97);
    text-decoration: none;
    font-weight: bold;
    font-size: 120%;
    display: block;
}

.Pages:hover{
    background-color: rgb(41, 58, 59);
}
/*Subpages */
.Subpage{
    display: none;
}

/*Eyeeeder Page */
table{
    padding-top: 5%;
    width: 100%;
    font-size: 110%;
}

th,tr{
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    color: rgb(12, 12, 12);
}

th:hover{
    background-color: rgb(129, 146, 148);
}

tr:nth-child(odd){
    background-color : rgb(34, 45, 46);

}






